/* .btn-group {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-top: 20px;
}

.btn {
  width: 110px;
  margin: 0 auto;
} */

.header {
  text-align: center;
  background-image: linear-gradient(to right, lightblue, darkblue);
  color: white;
}

.container2 {
  border: 1px solid black;
  width: 80%;
}

#btn{
  width: 130px;
  margin-bottom: 5px;
  border-radius: 5px;
}
/* .searchBox {
  cursor: pointer;
  width: 200px;
  height: 30px;
  display: block;
  margin: 10px;
  border-radius: 10px;
}

.searchButton {
  background-color: rgb(18, 179, 243);
  border: none;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 200px;
  display: block;
  margin: 10px;
  border-radius: 10px;
}

.btn-group button {
  background-color: lightgray;
  border: none;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  width: 200px;
  display: block;
  margin: 10px;
  border-radius: 10px;
} */
