.header {
  text-align: center;
  background-image: linear-gradient(to right, rgb(97, 203, 238), rgb(4, 4, 179));
  color: white;
  padding: 10px;
}
.sidebar {
  width: auto;
}

.container2 {
  border: 1px solid black;
  width: 80%;
  padding: 5px;
}

/* .container3{
  width: 100%;
} */

.searchBox {
  cursor: pointer;
  width: auto;
  height: 30px;
  display: block;
  margin: 10px;
  border-radius: 10px;
}

.searchButton {
  border: none;
  padding: 8px 20px;
  width: 200px;
  display: block;
  border-radius: 10px;
}

.container3 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.card-body {
  text-align: left;
}



#btn {
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

/*.btn-group button {
  background-color: lightgray;
  border: none;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  width: 200px;
  display: block;
  margin: 10px;
  border-radius: 10px;
} */
