.header {
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(97, 203, 238),
    rgb(4, 4, 179)
  );
  color: white;
  padding: 10px;
}
.sidebar {
  width: auto;
}

/* .content{
  left: 25%;
  right: auto;
} */

.container2 {
  border: 1px solid black;
  width: 85%;
  padding: 5px;
}

.searchBox {
  cursor: pointer;
  width: auto;
  height: 30px;
  display: block;
  margin: 10px;
  border-radius: 10px;
}

.searchButton {
  border: none;
  padding: 8px 20px;
  width: 200px;
  display: block;
  border-radius: 10px;
}

.container3 {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.savedButton {
  border: none;
  padding: 8px 20px;
  width: 200px;
  display: block;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.card-body {
  text-align: left;
}

#btn {
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.buttonList {
  background-color: orange;
}

@media only screen and (max-width: 733px) {
  /* .content {
    margin-left: 100px; 
    height: 300px;
    width: 50px;
  } */
  #btn {
    display: none;
  }

  h2 {
    margin-left: 30px;
    font-size: 1px;
  }

  .searchBox .searchButton {
    margin-left: 30px;
  }

  main {
    margin-left: 50px;
  }
}
